# **üìù Practice Questions for Day 05**

In [91]:
# import libraries
import pandas as pd
import numpy as np 

# Load the data
data = pd.read_csv(r'../data/BMW sales data (2010-2024) (1).csv')
df = pd.DataFrame(data)
df

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

***

## **üî∞Beginner-Level Questions**

In [92]:
# 1. Sort the dataset by Year in ascending order.
df.sort_values(by='Year')

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
39848,7 Series,2010,Asia,Black,Diesel,Automatic,2.0,82885,76202,7859,High
37,i8,2010,Middle East,Grey,Petrol,Automatic,4.0,98514,37949,2278,Low
49979,3 Series,2010,Europe,Grey,Petrol,Manual,2.0,6546,71897,6116,Low
49978,i3,2010,Europe,Silver,Electric,Manual,3.9,38587,34345,2869,Low
30,i8,2010,South America,Black,Hybrid,Automatic,4.7,16020,102215,5006,Low
...,...,...,...,...,...,...,...,...,...,...,...
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
49968,X3,2024,Europe,White,Petrol,Manual,2.8,44683,33558,2601,Low
49954,M3,2024,Africa,Blue,Electric,Automatic,2.8,86228,38003,5911,Low
80,M5,2024,North America,Black,Diesel,Manual,2.7,143885,90388,7944,High
74,X1,2024,Europe,Red,Petrol,Automatic,2.7,24141,84346,4289,Low

In [93]:
# 2. Sort by Sales in descending order to find the top-selling year.
df.sort_values(by='Sales_Volume', ascending=False).head(1)

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
27113,X3,2011,Africa,Silver,Electric,Manual,2.0,123193,79124,9999,High

In [94]:
# 3. Find the mean, median, and mode of yearly sales.
# for y in range(2010, 2025):
#     print(f"The yearly sales mean of year {y} is: {df.loc[df['Year'] == y, 'Sales_Volume'].mean()}")
#     print(f"The yearly sales median of year {y} is: {df.loc[df['Year'] == y, 'Sales_Volume'].median()}")
#     print(f"The yearly sales mode of year {y} is: {df.loc[df['Year'] == y, 'Sales_Volume'].mode()[0]}")

# Another Way:
df.groupby('Year')['Sales_Volume'].agg(['mean','median',lambda x: x.mode()[0]])

             mean  median  <lambda_0>
Year
2010  5085.118619  5186.0        5500
2011  5112.550641  5149.0         142
2012  5027.579532  5052.5         944
2013  5071.176488  5111.0         233
2014  5062.376119  5082.5        1572
2015  5065.576831  5102.0        1652
2016  5039.390788  5007.0        1011
2017  5051.918237  5107.5        6117
2018  5006.794692  5059.5        6025
2019  5068.383255  4991.0         300
2020  5089.186583  5068.0        1125
2021  5007.314947  4978.0        1870
2022  5152.658424  5233.5        6215
2023  5053.946567  5111.0         839
2024  5114.634958  5091.0        4322

In [95]:
# 4. Use .describe() on the Sales column and interpret the output.
df['Sales_Volume'].describe()

count    50000.000000
mean      5067.514680
std       2856.767125
min        100.000000
25%       2588.000000
50%       5087.000000
75%       7537.250000
max       9999.000000
Name: Sales_Volume, dtype: float64

***

## **üéØIntermediate-Level Questions**

In [96]:
# 1. Sort the dataset by both Region (alphabetically) and Sales (descending).
df.sort_values(by=['Region', 'Sales_Volume'], ascending=[True, False])

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
27113,X3,2011,Africa,Silver,Electric,Manual,2.0,123193,79124,9999,High
11924,M3,2017,Africa,Red,Electric,Manual,4.7,84221,66544,9998,High
21520,X1,2022,Africa,Red,Hybrid,Manual,4.1,194936,65868,9996,High
38972,X6,2010,Africa,Silver,Electric,Manual,4.7,54988,78679,9996,High
7974,X3,2015,Africa,White,Diesel,Automatic,2.0,198644,107978,9994,High
...,...,...,...,...,...,...,...,...,...,...,...
46739,5 Series,2024,South America,White,Electric,Manual,3.0,199463,56433,106,Low
1822,X1,2012,South America,Black,Electric,Manual,4.8,5378,33777,103,Low
22145,X1,2013,South America,Blue,Petrol,Automatic,4.0,48148,60639,103,Low
29165,3 Series,2013,South America,White,Diesel,Manual,2.4,34875,112980,103,Low
32233,X1,2010,South America,Grey,Electric,Manual,3.6,88222,47593,100,Low

In [97]:
# 2. Rank the sales values and add them as a new column Sales_Rank.
df['Sales_Rank'] = df['Sales_Volume'].rank()
df

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Sales_Rank
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,41404.5
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,16622.0
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,34730.5
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,19734.5
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,14856.0
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,40799.5
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,49080.5
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,41301.5
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,47345.5
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,8346.0

In [98]:
# 3. Find the standard deviation and variance of sales across all years.
# for y in range(2010, 2025):
#     print(f"The standard deviation of year {y} is: {df.loc[df['Year'] == y, 'Sales_Volume'].std():.2f}")
#     print(f"The standard deviation of year {y} is: {df.loc[df['Year'] == y, 'Sales_Volume'].var():.2f}")

# Another way:
df.groupby('Year')['Sales_Volume'].agg(['std','var'])

              std           var
Year
2010  2856.694496  8.160703e+06
2011  2830.544536  8.011982e+06
2012  2844.737468  8.092531e+06
2013  2843.602613  8.086076e+06
2014  2847.011055  8.105472e+06
2015  2900.127521  8.410740e+06
2016  2835.585389  8.040544e+06
2017  2868.915554  8.230676e+06
2018  2856.117861  8.157409e+06
2019  2859.597569  8.177298e+06
2020  2875.412543  8.267997e+06
2021  2820.335856  7.954294e+06
2022  2863.843010  8.201597e+06
2023  2880.973612  8.300009e+06
2024  2869.819642  8.235865e+06

In [99]:
# 4. Use .value_counts() to check how many records belong to each Region.
df['Region'].value_counts()

Region
Asia             8454
Middle East      8373
North America    8335
Europe           8334
Africa           8253
South America    8251
Name: count, dtype: int64

***

## **üèÜAdvanced-Level Questions**

In [100]:
# 1. Compare the sales trend before and after 2020:
# Compute the average sales from 2010‚Äì2019 vs 2020‚Äì2024.
# Which period had higher sales?
avg_early = df.loc[df['Year'].between(2010, 2019), 'Sales_Volume'].mean()
avg_recent = df.loc[df['Year'].between(2020, 2024), 'Sales_Volume'].mean()

if avg_recent > avg_early:
    print("2020‚Äì2024 has higher sales")
else:
    print("2010‚Äì2019 has higher sales")

2020‚Äì2024 has higher sales

In [101]:
# 2. Group the data by Region and find:
# The year with maximum sales for each region.
# The mean sales for each region.

df_grouped = df.groupby('Region')
df_grouped['Sales_Volume'].mean()
df_grouped['Sales_Volume'].idxmax()   # gives row index of max sales

Region
Africa           27113
Asia             43582
Europe           13521
Middle East      25672
North America    39518
South America    47953
Name: Sales_Volume, dtype: int64

In [102]:
# 3. Sort all years by sales, then filter the top 3 years with the highest sales per region.
df.sort_values(by=['Region','Sales_Volume'], ascending=[True,False]).groupby('Region').head(3)

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Sales_Rank
27113,X3,2011,Africa,Silver,Electric,Manual,2.0,123193,79124,9999,High,49998.0
11924,M3,2017,Africa,Red,Electric,Manual,4.7,84221,66544,9998,High,49993.0
21520,X1,2022,Africa,Red,Hybrid,Manual,4.1,194936,65868,9996,High,49985.0
43582,X5,2013,Asia,Blue,Diesel,Manual,2.4,39220,115415,9998,High,49993.0
38187,i8,2013,Asia,Blue,Hybrid,Manual,4.1,91969,90948,9997,High,49989.5
31010,X5,2014,Asia,Blue,Petrol,Automatic,3.4,83741,111286,9994,High,49976.5
13521,7 Series,2024,Europe,Silver,Diesel,Automatic,3.7,50463,71167,9999,High,49998.0
38529,M3,2022,Europe,Red,Petrol,Manual,4.8,43988,38126,9999,High,49998.0
29259,i8,2012,Europe,Blue,Diesel,Manual,3.5,159254,99855,9997,High,49989.5
25672,i8,2010,Middle East,Red,Hybrid,Automatic,4.3,87813,43421,9998,High,49993.0
47616,X1,2012,Middle East,Blue,Diesel,Manual,2.1,101409,113462,9998,High,49993.0
5516,i8,2023,Middle East,Red,Diesel,Automatic,4.7,144539,82298,9996,High,49985.0
39518,3 Series,2017,North America,Black,Electric,Automatic,2.7,35357,64641,9999,High,49998.0
41820,3 Series,2018,North America,Silver,Hybrid,Manual,4.8,148161,32807,9992,High,49968.0
25747,3 Series,2023,North America,Silver,Petrol,Automatic,4.8,176010,115456,9988,High,49950.0
47953,5 Series,2024,South America,White,Electric,Manual,2.5,52062,88572,9999,High,49998.0
49864,M5,2019,South America,Grey,Petrol,Manual,3.8,141592,105893,9998,High,49993.0
629,M3,2010,South America,Blue,Petrol,Automatic,4.3,191728,54325,9996,High,49985.0

In [103]:
# 4. Create a custom function sales_summary(df) that:
# Returns min, max, mean, median, std, and IQR of the sales column.
# Apply it to the BMW dataset.
def sales_summary(df):
    q25 = df['Sales_Volume'].quantile(0.25)
    q75 = df['Sales_Volume'].quantile(0.75)
    iqr = q75 - q25
    
    stats = df['Sales_Volume'].agg(['min','max','mean','median','std'])
    stats['IQR'] = iqr
    
    return stats

sales_summary(df)

min        100.000000
max       9999.000000
mean      5067.514680
median    5087.000000
std       2856.767125
IQR       4949.250000
Name: Sales_Volume, dtype: float64

***